.articles__page {
  padding-left: 20px;
}

.articles__post {
  margin: 20px;
  padding: 10px;
  border: 1px solid black;
  font-size: 75%;
  width: 980px;
  max-height: 420px;
  overflow: hidden;
  background-color: white;
}

.articles__post-title {
  font-size: 32px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.articles__post-title:hover {
  text-decoration: underline;
  cursor: pointer;
}

.articles__button {
  margin: 20px;
}




