.users {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

.user {
  margin: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: -1px 0px 60px -27px rgba(0,0,0,0.64);
  width: 400px;
  height: 150px;
  display: flex;
}

.user__details {
  text-align: center;
  position: relative;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.user__name {
  font-weight: bold;
}

.user__description {
  width: 250px;
  height: 50px;
  font-size: 12px;
}

.user__avatar {
  border-radius: 5px 0 0 5px;
  width: 150px;
  height: 150px;
}

